{% extends 'base.html' %}

{% block title %}Business Name - Home{% endblock %}

{% block content %}
<!-- Hero Section -->
<div class='container'>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <img src="static/images/temp.png" class="img-fluid rounded" alt="Test photo" width="400" height="400";>
        </div>
        <div class="col-lg-6">

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <p style="text-align: right;">Username</p>
            <div style="margin-bottom: 30px; text-align: right;">
                {{ form.username }}
            </div>

            <p style="text-align: right;">Password</p>
            <div style="margin-bottom: 30px; text-align: right;">
                {{ form.password }}
            </div>

            <div style="text-align: right; margin-right: 10px;">
                {{ form.submit }}
                <p class="bottom">Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
            </div>
        </form>
    </div>
    </div>


</div>
{% endblock %}